body {
  background: url("/static/img/logo.png");
  background-size: cover;
  background-attachment: fixed;
  /*padding-top: 20%*/
  ;
  background-position: 50% 50%;
  color: white;
}

.glass {
  background-color: rgba(50, 50, 50, 0.5);
  backdrop-filter: blur(10px);
}

.btn-custom,
.btn {
  backdrop-filter: blur(5px);
  background-color: rgb(53, 40, 31);
  color: white !important;
}

.btn {
  padding: 0.5em;
}
