body {
  text-align: center;
  font-family: Arial, sans-serif, monospace;
  color: var(--text-color-);
  background-color: var(--background-color-);
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
  font-family: Arial, sans-serif, monospace;
}

.container div {
  display: block;
  border-radius: 10px;
  background-color: var(--foreground-color-);
  padding: 5px;
  transition-duration: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-);
}
.container > div:hover {
  /*background-color: #ddd;*/
  transition-duration: 250ms;
  /*box-shadow: ghostwhite -5px 2px 5px 3px;*/
  border: 3px var(--foreground-color-) solid;
  background: transparent;
  color: var(--text-color-);
}
.container > div > h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.rating {
  -webkit-appearance: none;
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');

  --fill: gold;
  --fillbg: lightgray;

  --dir: right;
  [dir="rtl"] .rating {
    --dir: left;
  }
  --stars: 5;
  --starsize: 2rem;
  --symbol: var(--star);
  --value: 0;
  --x: calc(100% * (var(--value) / var(--stars)));

  
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  /*block-size: 100%;*/
  mask: repeat left center/var(--starsize) var(--symbol);
  height: 2rem;
  width: calc(5 * var(--starsize));
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-thumb {
  width: 0;
  -webkit-appearance: none;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    grid-template-columns: auto auto auto;
  }
}
