<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btns.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/themes.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
	<title>{% block title %}{% endblock %}</title>
	{% block links %}{% endblock %}
</head>
<body>
<div class="parallax"><h1>Raccoon's Coffee</h1></div>
{% block body %}{% endblock %}
</body>
</html>