{% extends "base.html" %}

{% block title %}Raccoon's Coffee{% endblock %}

{% block links %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
<div class="container text-center rounded glass mb-4 mt-5 p-4">
	<h1>Raccoon's Coffee</h1>
	{% if faves[0] %}<!-- if user has favorites -->
	<h2>Favorites: </h2>
	{% elif current_user.is_authenticated %}<!-- if user is logged in, but no favorites exist -->
	<p>(Favorites will appear here once you add some!)</p>
	{% else %}<!-- unregistered users -->
	<div class="btn-group mb-4">
		<a href="/login"><button class="btn">Login</button></a>
		<a href="/signup"><button class="btn">Sign Up</button></a>
	</div>
</div>
<div class="container rounded glass text-center p-4">
	{% endif %}<!-- end -->
	<div id="favorites" class="container">
		{% for item in faves %}
		<button class="menu-btn-small" data-coffee="{{ item.coffee }}" data-flavor="{{ item.flavor }}"
			data-special="{{ item.special.replace('"', '') }}" data-orderid="{{ item.id }}">{{ item.coffee }}</button>
			{% endfor %}
		</div>
			<div class="popup" id="favorites_popup"><!-- to display when favorites are clicked on, this is simply a template. -->
				<h1></h1>
				<h2></h2>
				<p></p>
				<button class="btn">Order This</button><br>
				<button class="btn">&times; Remove</button><br>
				<button class="btn">Cancel</button>
			</div>
		<a href="/order/">
		<button class="btn">
			Place an order
		</button>
		</a>
		<button class="btn">
			See Order History
		</button>
		<a href="/reviews/">
			<button class="btn">
			See Reviews
			</button>
		</a>

	</div>
	{% if current_user.id == 1 %}<!-- if user is admin -->
	<div class="container rounded glass text-center p-4">
		<a href="/orders/"><button class="btn">Orders</button></a>
		<a href="/menu/"><button class="btn">Update Menu</button></a>
	</div>
	{% endif %}
	<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}