{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container rounded glass text-center mt-4 p-4">
  <h1>Log In</h1>
  {% with message = get_flashed_messages()[0] %}
  {% if message %}
  <div class="alert alert-{{ message.category }}">
    <p>{{ message }}</p>
  </div>
  {% endif %}
  {% endwith %}
  <form method="POST">
    <div class="form-floating mb-3 mt-3">
      <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating mt-3 mb-3">
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
      <label for="pwd">Password</label>
    </div>
    <button class="btn">Submit</button>
  </form>
</div>
{% endblock %}
