<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/themes.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btns.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ordersuccess.css') }}">
	<meta http-equiv="refresh" content="5">
	<title>Successful order</title>
</head>
<body>
<div>
{% if not order.is_archived %}
<h1>Your order has been successfully placed. </h1>
<h2>You are number {{ place }} in the queue. </h2> 
You can now safely close this window. 
<button id="cancel" class="menu-btn-large">Cancel Order</button>
<a href=""><button class="menu-btn-large">Refresh</button></a>
{% elif order.is_completed %}
<h1>Your order has been completed. </h1>
<a href="/newreview/"><button class="menu-btn-large">Leave a review</button></a>
{% else %}
<h1>Your order has been cancelled. </h1>
{% endif %}
</div>
<script type="text/javascript">
document.querySelector("#cancel").onclick = async(e) => {
	if (confirm("Are you sure you want to cancel your order? ")) {
		let response = await fetch("/order/{{id}}/", {
			method: "PATCH", 
			headers: {"Content-Type": 'application/json'},
			body: JSON.stringify({"is_archived": true, "is_completed": false})
		});
		if (response.status == 200) {
			window.location.reload();
		} else {
			alert("Oops! Something went wrong. ");
		}
	} else {
		alert("Nothing happened! ")
	}
}
</script>
</body>
</html>