{% extends "base.html" %}

{% block title %}Order at Raccoon's Coffee {% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}">
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_select_menus.css') }}">-->
{% endblock %}

{% block body %}
<div class="container rounded-bottom glass text-center p-4 mb-4" id="heading">
	<h1>Order a Coffee</h1>
</div>
<form method="POST">
	<div class="custom-select-container container rounded glass text-center p-2 mb-2">
		<select name="coffee" id="coffee" required class="form-select">
			<option>Choose a coffee: </option><br>
			{% for coffee in coffees %}
			<option>{{ coffee.name }}</option><br>
			{% endfor %}
		</select>
	</div>
	<div class="custom-select-container container rounded glass text-center p-2 mb-2">
		<select name="flavor" id="flavor" required class="form-select">
			<option>Choose a flavor: </option>
			{% for flavor in flavors %}
			<option value="{{ flavor.name }}">{{ flavor.name }}</option>
			{% endfor %}
		</select>

	</div>
	<div class="container rounded glass text-center p-2 mb-2">
		<h2><label for="caffeine-slider">Espresso Shots: </label></h2>
		<input type="range" name="caffeine" min="0" max="3" value="1" id="caffeine-slider" /><br><output
			id="caffeine-slider-output">1</output>
	</div>
	<div class="container rounded glass text-center p-4 mb-2">
		<h2><label for="name">Who's it for? </label></h2>
		<input name="name" id="name" value="{{ current_user.username }}" type="text" required /><br>
	</div>
	<div class="container rounded glass text-center p-4 mb-2">
		<label><input type="checkbox" name="special" value="Oatmilk" />Replace Milk with Oatmilk</label> <br>
		<label><input type="checkbox" name="special" value="Add Milk" />Add Extra Milk</label>
	</div>
	<div class="container rounded glass text-center p-4 mb-2">
		<label><input name="favorite" type="checkbox" />Mark as a favorite </label><br>
		<h2><label for="date">Scheduled for: </label></h2>
		<input type="datetime-local" name="date" id="date" required /><br>
		<button class="btn">Submit</button>
	</div>
</form>
<script src="{{url_for('static', filename='js/themes.js') }}"></script>
<script src="{{url_for('static', filename='js/custom_select_menus.js') }}"></script>
<script src="{{url_for('static', filename='js/order.js') }}"></script>
{% endblock %}