{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reviews.css') }}">
{% endblock %}

{% block title %}
Reviews at Raccoon's Coffee
{% endblock %}
{% block body %}
ABC
<div class="container">
{% for review in reviews %}
<div>
<h1>{{ review.author }}</h1>
<label class="rating-label">
  <input
    class="rating"
    max="5"
    style="--value: {{ review.rating }};"
    step="0.5"
    type="range"
    value="{{ review.rating }}">
</label><br>
{{ review.text }}<br>
{% if current_user.id == review.author_id %}
<a href="/reviews/{{ review.id }}/delete">delete</a>
{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}